
.tm__overlay_wrapper {
    display: none;

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }

    &.ready {
        display: block;
    }
}


.tm__asOverlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .85);
}

.trackingmanager {
    background: white;
    border: 1px solid;
    bottom: 32px;
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, .24);
    color: black;
    left: 32px;
    max-height: calc(100vh - 64px);
    max-width: calc(100% - 64px);
    overflow: auto;
    position: fixed;
    transition: all .8s ease;
    width: 500px;
    z-index: 10000;
    font-size: 1.75rem;


    .header {
        border-bottom: 1px solid;
        padding: 24px 32px;
        text-align: center;
    }

    .header-title {
        align-items: center;
        display: inline-flex;
        font-size: 1.5em;
        font-weight: 700;

        svg {
            margin-right: 16px;
            fill:currentColor;
        }

        .text + svg {
            margin-left: 16px;
            margin-right: 0;
        }

    }

    .intro {
        padding: 24px 32px;
    }

}


/* accept area
========================================================================== */

.tm__button-wrapper {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 0 32px;
    margin-bottom: 32px;

    .btn{
        font-size: inherit;
    }
}

.tm-deny-all-wrapper,
.tm-submit-all-wrapper {
    text-align: center;
}

.tm-more-wrapper {
    margin-bottom: 24px;
    text-align: center;
}

#tm_more {
    align-items: center;
    display: inline-flex;

    svg {
        margin-right: 8px;
    }

    .text + svg {
        margin-left: 8px;
        margin-right: 0;
    }

}


/* form area
========================================================================== */

.trackingmanager {

    form {
        display: none;
        padding: 0 32px 24px;
    }

    .row_wrapper {

    }

    .cookie-row {
        position: relative;
    }

    .cookie-row + .cookie-row {
        margin-top: -1px;
    }

    .row {
        border-bottom: 1px solid #ccc;
        padding: 5px 20px 5px 5px;
        position: relative;

        &:last-child {
            border-bottom: none;
        }

    }

    .widget {
        background: #eee;
        border: 1px solid;
    }

    .checkbox_container {
        box-sizing: border-box;
        border: none;
        margin: 0;
        padding: 16px 50px 16px 24px;
    }

    .info {
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
        height: 24px;
        position: absolute;
        right: 24px;
        top: 16px;
        width: 24px;

        svg {
            height: 100%;
            width: 100%;
        }

    }

    .info-close {
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
    }

    .cookie-row.open {

        .info-open {
            opacity: 0;
        }

        .info-close {
            opacity: 1;
        }

    }

    .submit_container {
        margin-top: 16px;
        text-align: center;


    }

    .hint {
        color: #ccc;
        padding: 30px 0 0 0;
        text-align: center;

        a {
            color: #999;
            font-size: 12px;
        }

    }

}

/* description
========================================================================== */

.trackingmanager {

    .cookie_desc {
        border: 1px solid;
        border-top: none;
        display: none;
        padding: 16px 24px;

        dl {
            display: grid;
            grid-column-gap: 12px;
            grid-row-gap: 8px;
            grid-template-columns: 1fr 4fr;
        }

        dt {
            margin: 0;
        }

        dd {
            margin-left: 0;
            padding-left: 5px;
        }

    }

}


/* Editor
========================================================================== */

.trackingmanager-editor {
    align-items: center;
    background: white;
    border: 1px solid;
    border-radius: 50%;
    bottom: 32px;
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, .24);
    color: black;
    cursor: pointer;
    display: flex;
    font-size: .875em;
    flex-direction: column;
    left: 32px;
    padding: 12px;
    position: fixed;
    text-align: center;
    transition: all .8s ease;
    z-index: 10000;
    color: #000;

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }

    .text {
        margin-top: 8px;
    }

    svg{
        fill: currentColor;
    }

}


@media screen and (max-width: 600px) {

    .trackingmanager {

        .cookie_desc {
            dl {
                grid-template-columns: 1fr;

                dt {
                    font-weight: 700;
                }

                dd {
                    margin-bottom: 25px;
                    padding-left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {

    .tm__button-wrapper {
        flex-direction: column;
    }


}
